* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Baskervville SC", serif;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.image {
    width: 150px;
}

.list-items {
    list-style: none;
    margin: 0px 20px;
    display: inline;
}

.links {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.links:hover {
    text-decoration: underline;
    color: aqua;
}

.home-content {
    margin: 20% 0px 0px 8%;
}

#home-head {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;

}

#last-name {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}

#user-details {
    line-height: 1.5;
    font-size: 20px;
}

#dwld {
    text-decoration: none;
    background-color: blueviolet;
    color: beige;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}

.home-img {
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.group1 {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s, left 1s;
}

.home-img:hover #shape {
    bottom: 30%;
}

.home-img:hover #girl {
    left: 40%
}

#about {
    margin: 25% 8% 0px 8%;
}

.section-head {
    text-align: center;
}

.main-head {
    font-size: 30px;
    color: orange;
}

.sub-head {
    font-size: 20px;
    color: green;
}

.about-body {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    align-items: center;
    margin-top: 20px;
}

.about-img>img {
    width: 80%;
}

.about-content {
    font-size: 20px;
    text-align: justify;
}

.informations {
    margin-top: 1.4rem;
}

.info-box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.info-box>span {
    margin-left: 1rem;
}

#skill {
    margin: 8% 8% 0px 8%;
}

.skill-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 20px;
    align-items: center;
}

.myskill {
    width: 100%;
}

.bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}

.bar-head,
.bar-percentage {
    font-weight: 500;
    font-size: 1.2rem;


}

.base-bar {
    background-color: black;
    height: 0.5rem;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}

.html-bar {
    background-color: sandybrown;
    width: 90%;
}

.css-bar {
    background-color: sandybrown;
    width: 88%;
}

.js-bar {
    background-color: sandybrown;
    width: 87%;
}

.react-bar {
    background-color: sandybrown;
    width: 89%;
}

#contact {
    margin: 0px 10%;
}

.icon-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.icon:hover {
    background-image: linear-gradient(to bottom right, yellow, red, green);
}

.brands {
    color: orange;
    font-size: 25px;
}

.icon:hover .brands {
    color: black;
    animation: rotate 3s;

}

@keyframes rotate {

    0% {
        transform: rotate(30deg);
    }

    20% {
        transform: rotate(-30deg);
    }

    40% {
        transform: rotate(30deg);
    }

    60% {
        transform: rotate(-30deg);
    }

    80% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }

}

footer {
    margin-top: 8%;
}

#copyright {
    text-align: center;
    font-weight: 600;
}

.up-arrow {
    float: right;
    margin: -40px 30px 30px 0px;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: aliceblue;

}

::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 10px;
}